$background-color: #343a40;
$light-color: #acb4f4;

/* ******* Responsive Sizing ******* */

// Width
@media only screen
and (min-width: 481px) 
and (max-width: 767px) {
    html body {
        font-size: 90%;
    }
}

// Height
@media only screen 
and (min-height: 601px)
and (max-height: 700px) {
    html body {
        font-size: 98%;
    }
}

@media only screen 
and (max-height: 600px) {
    html body {
        font-size: 90%
    }
}

html {
    font-size: 62.5%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
}